* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  .faux-input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0px;
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }
  
  .term {
    font-family: Monaco, monospace;
    padding: 1em;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    line-height: 1.5em;
    overflow-y: scroll;
    position: relative;
    color: #00FF19;
  }
  
  .term-focus {
    color: #00FF19;
  }
  
  .term .red {
    color: red;
  }
  .term .blue {
    color: blue;
  }
  .term .white {
    color: #fff;
  }
  .term .bold {
    font-weight: bold;
  }
  
  .bell {
    width: 0.1em;
    height: 1.1em;
    line-height: 1.2em;
    background: #fff;
    position: absolute;
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0% {
      visibility: visible;
    }
    49% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  /* Let's get this party started */
  ::-webkit-scrollbar {
      width: 0px;
  }
   
  ::-webkit-scrollbar {
    width: 0px;
  }
   
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #00FF19;
  }